body {
    background-image: url("https://vignette.wikia.nocookie.net/gundam/images/5/5d/Hi-nu_gundam_Boxart.jpg/revision/latest?cb=20120206174719");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px 970px;
    background-position: center;
    background-color: rgb(23, 1, 63);
}

textarea {
    overflow-y: scroll;
    height: 500px;
    background-color: darkblue;
    
}

h1.title {
    color: whitesmoke;
    font-size: 123px;
    text-align: center;
    background-color: rgba(23, 1, 63, 0.625);
    max-width: 600px;
    margin-left: 500px;
    margin-top: 20px;
}

.main {
    text-align: center;
    background-color: rgba(23, 1, 63, 0.425);
    padding-left: 40px;
    max-width: 75%;
    margin-left: 10%;
    padding-top: 10px;
    
  }

/* naviagtion menu */
.sidenav {
    height: 25%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; /* Place on right side*/
    background-color: rgb(23, 1, 63);
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
